.cart-item-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9e9ea0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .item-img {
    width: 20%;
    height: 200px;
    width: 160px;
    border: 1px solid #9e9ea0;
  }
  .cart-item-detail {
    width: 80%;
    height: 200px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      padding: 0;
      margin: 0;
      text-align: left;
      font-family: "Oswald", sans-serif;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .detail {
      @media screen and (max-width: 750px) {
        height: 500px;
      }
      .detail-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          font-size: 20px;
          font-weight: 500;
          margin: 0;
        }
        @media screen and (max-width: 750px) {
          flex-direction: column;
          justify-content: flex-start;
        }
      }
      .detail-mid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 20px;
        p {
          margin: 0;
        }
        input {
          height: 20px;
          width: 20px;
          border: 1px solid #111;
          cursor: pointer;
          accent-color: #111;
          margin: 0;
        }
      }
      .detail-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        p {
          font-weight: 300;
          margin: 0;
        }
        @media screen and (max-width: 750px) {
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
      .detail-button {
        justify-self: end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 15%;
        padding-bottom: 20px;
        .detail-icon {
          font-size: 20px;
          cursor: pointer;
        }
        @media screen and (max-width: 750px) {
          width: 70%;
        }
      }
    }
  }
}
