.item-container {
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  .item-image {
    height: 300px;
    width: 250px;
    border: 1px solid #9e9ea0;
  }
  .item-content {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    overflow: hidden;
    p {
      margin: 0;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 20px;
    }
    .item-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .item-category {
      color: #9e9ea0;
    }
    .item-price {
      margin-top: 10px;
    }
  }
}
