.checkout-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 100px;
  .address {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      font-size: 30px;
      margin: 0;
      margin-bottom: 30px;
    }
    .address-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input-box {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;

        p {
          width: 30%;
          text-align: left;
          padding: 0;
          margin: 0;
        }
        input {
          margin-top: 10px;
          width: 100%;
          height: 50px;
          text-indent: 5px;
          padding-left: 5px;
          border: 1px solid #111;
          border-radius: 5px;
          font-family: "Oswald", sans-serif;
          font-weight: 300;
          font-size: 15px;
        }
      }
    }
    .address-button {
      border: none;
      outline: none;
      cursor: pointer;
      height: 70px;
      width: 40%;
      margin-top: 100px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 1px solid #111;
      transition: 0.2s;
      p {
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 20px;
      }
      &:hover {
        background-color: #111;
        p {
          color: white;
        }
      }
    }
  }
  .summary {
    width: 50%;
    h3 {
      width: 95%;
      display: flex;
      justify-content: flex-start;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      font-size: 30px;
      margin: 0;
      margin-bottom: 10px;
    }
    .summary-main {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .summary-section {
        width: 100%;
        border-bottom: 1px solid #9e9ea0;
        margin-bottom: 30px;
        .summary-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          p {
            padding: 0;
            margin: 0;
            font-family: "Oswald", sans-serif;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 10px;
          }
        }
      }
    }
    .checkout-items {
      height: 100vh;
      width: 90%;
      overflow-y: auto;
      padding-right: 10px;
    }
  }
}
