.order-container {
  width: 95%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  p {
    font-size: 22px;
    font-size: 700;
  }
  .ID {
    width: 100%;
    text-align: left;
  }
  .total {
    width: 100%;
    text-align: right;
    color: red;
  }
}

.container {
  height: 100%;
  .main {
    max-height: 120vh;
    overflow-y: auto;
  }
  h1 {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #111;
    margin-bottom: 15px;
  }
}
