.navbar-container {
  .header {
    background-color: #f5f5f5;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .login {
      width: 150px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      p {
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: #9e9ea0;
        }
      }
    }
    .is-login {
      width: 100px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        color: #9e9ea0;
      }
      p {
        font-family: "Oswald", sans-serif;
        font-weight: 300;
      }
    }
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9e9ea0;
    width: 100%;
    height: 50px;
    position: relative;
    .nav-section {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      .nav-selection {
        font-family: "Oswald", sans-serif;
        width: 65%;
        padding: 0;
        margin: 0;
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        li {
          cursor: pointer;
          border-bottom: 2px solid white;
          transition: 0.2s;
          &:hover {
            border-bottom: 2px solid black;
          }
        }
      }
      .nav-search {
        width: 20%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .search-icon {
          position: absolute;
          font-size: 20px;
          right: 10px;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
        input {
          width: 100%;
          height: 30px;
          border: none;
          outline: none;
          text-indent: 10px;
          border-radius: 5px;
          background-color: #f5f5f5;
        }
      }
      .nav-other {
        width: 15%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .other-icon {
          cursor: pointer;
          transition: 0.2s;
          font-size: 22px;
          &:hover {
            color: #9e9ea0;
          }
        }
      }
    }
  }
  .navbar-hover {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #111;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    li {
      border-bottom: 2px solid #f5f5f5;
      transition: 0.2s;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        border-bottom: 2px solid black;
      }
      p {
        padding: 0;
        margin: 0;
        font-weight: 300;
        font-size: 18px;
      }
    }
  }
}
