.checkout-item {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 150px;
  padding-bottom: 20px;
  border-bottom: 1px solid #9e9ea0;
  margin-bottom: 20px;
  p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
  }
  .checkout-img {
    height: 150px;
    width: 120px;
    border: 1px solid #e5e5e5;
  }
  .checkout-item-detail {
    width: 80%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    .item-name {
      font-size: 18px;
      font-weight: 500;
    }
    .item-price {
      justify-self: flex-end;
      font-size: 18px;
      font-weight: 500;
    }
    .checkout-item-content {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
